/* .icon  .cart-icon{
    font-size: 120px;
  
} */

.footer-icon{
    background-color: white;
    color: rgb(34, 104, 104);
    clip-path: circle();
    height: 20px;
    width: 20px;
    padding: 2px;
   
}

.card-footer button{
    border:  none;
    background: none;
}


.card-1{
    background-color:rgb(24, 195, 201);


}

.card-2{
    background-color:rgb(127, 127, 243);
    

}

.card-3{
    background-color: rgb(214, 185, 17);
    

}

.card-4{
    background-color: rgb(75, 177, 75);
}

.card-5{
    background-color: rgb(204, 65, 65);
}

.card{
    overflow: hidden;
    border-radius: 10px;
}

.content{
    position: relative;
    padding: 5px;
}

.icon{
    position: absolute;
    right: -15px;
    top: 10px;
    opacity: .25;
}

.icon .cart-icon{
    font-size: 120px;
}
